__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.db
*.sqlite
*.sqlite3
.env
.venv
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
static/uploads/*
!static/uploads/.gitkeep
static/subtitles/*
!static/subtitles/.gitkeep
